# Common ignores
*.pyc
*.swp
*.swo

# Ignore custom config files and logs
crits/config/database.py
crits/config/overrides.py
logs/*.log*

# Ignore build files
documentation/src/_build/
extras/www/static/admin/

# Ignore Apple and brew
.DS_Store
INSTALL_RECEIPT.json

# Ignore aptitude cache
.apt_cache

# Ignore pip cache
.pip_cache

# Ignore vagrant dir
.vagrant

# Ignore MongoDB download
*mongodb-*

# Ignore VirtualEnv
venv/*

# Ignore test cache
test/.cache/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

